.contacts {
    display: flex;

}

.contact-card {
    border: 3px solid;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    backdrop-filter: 100%;


}

.contact-card img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.info-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.info-group img {
    width: 20px;
    height: 20px;
}

.contact-card h2 {
    margin: 0;
    margin-bottom: 10px;
}

.contact-card p {
    margin: 0;
}