.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    width: 300;
    height: 500px;
}

p {
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: rgb(51, 46, 46);
    text-shadow: 1px 1px 2px #000000;
}

.contact-card {
    border: 2px solid white;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    width: 100%;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 30px rgb(181, 139, 139, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-card img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.info-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.info-group img {
    width: 20px;
    height: 20px;
}

.contact-card h2 {
    margin: 0;
    margin-bottom: 10px;
}

.contact-card p {
    margin: 0;
}