a {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 30px rgb(181, 139, 139, 0.7);
}